<div class="flex-container">
  <img id="rr-logo" src="icons/rr-chrome-icon-128.png" />
  <div id="ext-info">
    <br/>
    <div id="ext-title"><a class="rr-color" href="https://chrome.google.com/webstore/detail/rrecon/amaldeihccgcmipgdilnjnjmhlkmppje">rRecon</a></div>
    <div id="ext-desc">find removed comments</div>
  </div>
  <div id="rr-search-wrap">
    <input id="rr-search" type="button" value="search">
    <div><a id="deep-search" class="rr-color" href="#">deep search</a></div>
  </div>
  <div id="search-options">
    <div class="rr-row">
      <label>search depth</label>
      <select id="search-depth">
        <option value="1">100</option>
        <option value="2">200</option>
        <option value="3">300</option>
        <option value="4">400</option>
        <option value="5">500</option>
        <option value="6">600</option>
        <option value="7">700</option>
        <option value="8">800</option>
        <option value="9">900</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <div class="rr-row">
      <label>search order</label>
      <select id="search-order">
          <option value="new">new</option>
          <option value="hot">hot</option>
          <option value="top">top</option>
          <option value="controversial">controversial</option>
      </select>
    </div>
    <!--<div class="rr-row">
      <label>time limit</label>
      <select id="search-time">
          <option value="all">all</option>
          <option value="year">year</option>
          <option value="month">month</option>
          <option value="week">week</option>
          <option value="day">day</option>
          <option value="hour">hour</option>
      </select>
    </div>-->
  </div>
  <div id="rr-status">
    <div class="rr-progressbar"></div>
  </div>
  <div id="rr-menu-right">
    <div id="rr-options-link">
      <a class="rr-color" href="#">options</a>
    </div>
  </div>
</div>
