<div class="flex-container">
  <div id="rr-filters">
    <div class="rr-header">filters</div>
    <div class="rr-row">
      <label>removed by </label>
      <select id="rr-filter-removedby" class="rr-filter">
        <option value="all">all</option>
      </select>
    </div>
    <div class="rr-row">
      <label>subreddit </label>
      <select id="rr-filter-subreddit" class="rr-filter">
        <option value="all">all</option>
      </select>
    </div>
  </div>
  <div id="rr-report">
    <div class="rr-header">report</div>
    <div class="rr-row"><a id="rr-message-user" class="rr-color" href="#"></a></div>
    <div class="rr-row">
      <span id="rr-report-pages">
      </span>
    </div>
  </div>
</div> 
